*{
    text-wrap: nowrap;
}

.card-container{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    justify-items: center;
    align-content: center;
    height: 100vh;
    background-color: rgb(65, 65, 65);
}

.card{
    padding: 20;
    background-color: rgb(227, 213, 195);
    justify-items: center;
    max-width: 600px;
    min-width: 230px;
    min-height: 280px;
    width: 100%;
    border: 1px solid rgb(194, 194, 194);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5)
}

.image-container{
    height: 200px;
    width: 200px;
    padding: 20px;
    /* background-color: red; */
}

img{
    border-radius: 50%;
     
}

.info1{
    /* height: 50px;
    width: 100px; */
    /* background-color: blue; */
    text-align: center;
    padding: 10px;
    width: 100%;
}
.info2{
    /* height: 50px;
    width: 100px; */
    /* background-color: rgb(220, 249, 1); */
    text-align: center;
    padding: 10px;
    width: 100%;
}

@media screen and (min-width:660px){
    .card{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
    }
    .info-container{
        align-content: center;
    }
    .image-container{
        align-self: center;
        padding: 0;
    }

}
@media screen and (min-width:460px) and (max-width:660px){
.info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
}